# Configuration de Keycloak
KEYCLOAK_SERVER_URL=http://localhost:8085
KEYCLOAK_CLIENT_ID=votre-client-id
KEYCLOAK_CLIENT_SECRET=votre-client-secret
KEYCLOAK_REALM=votre-realm
KEYCLOAK_ADMIN_CLIENT_ID=votre-admin-client-id

# Base de données (PostgreSQL)
# POSTGRES_USER=inventory_user
# POSTGRES_PASSWORD=inventory_password
# POSTGRES_DB=inventory_db

# Configuration Django
# SECRET_KEY=votre-secret-key
# DEBUG=True
